@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&family=Quattrocento:wght@400;700&family=Satisfy&display=swap");
/* font-family: 'Barlow', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Satisfy', cursive; */

.dropdowns {
  display: flex;
  justify-content: space-between;
}
.dropdown {
  width: 13rem;
}

.bold {
  font-weight: bold;
}
.tabanPizza h1 {
  color: black;
}

#pizza-form {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.formContainer {
  width: 100%;
  font-family: "Barlow", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
}

.formContainerInner {
  width: 40%;
  margin-top: 1rem;
}

.siparisOzet {
  text-align: initial;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.red {
  color: red;
}

.tabanPizza {
  text-align: start;
}

.kucukFont {
  font-size: 16px;
  color: #5f5f5f;
}
