@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&family=Quattrocento:wght@400;700&family=Satisfy&display=swap");
/* font-family: 'Barlow', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Satisfy', cursive; */

.homePage {
  text-align: center;
  background-image: url("./images/mvp-banner.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}
.icerik {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icerikler {
  margin-top: 1rem;
  display: flex;
  flex-direction:column ;
  gap: 4rem;
  align-items: center;
}

.baslik {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 4rem;
  width: 32rem;
  margin-top: 1rem; 
}

#order-pizza {
  background: #fdc913;
  display: inline-block;
  padding: 0.75rem 2.5rem;
  border-radius: 10rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  width: 10rem;
}

.svgHeader {
  width: fit-content;
}



@media screen and (max-width: 992px) {
  .homePage {
  width:auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.baslik{
  width: auto;
  font-size: 2rem;
}

@media screen and (max-width: 400px) {
  .homePage {
  width:auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.baslik{
 
  font-size: 2rem;
}
}

}
